html {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(../public/assets/bgc-contact/vorderrhein.svg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* overflow: hidden;  */
  background-position: cover;
  background-attachment: fixed;
  background-blend-mode: color-dodge;
  object-fit: cover;
  background-clip: content-box;
  z-index: -6;
}

/* Nav */
/* .active {
  color: rgba(237, 215, 103, 0.75);
} */
a {
  text-decoration: none;
}

/* .avatar {
  width: 55vh;
  height: 58vh;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* add media query for :
    - large tablet (992px) and up
    -tablets max-width: 768px
    -mobile max-width: 425px
*/

@media (max-width: 630px) {
  /* html { */
    /* width: fit-content; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  /* } */
  /* body { */
    /* width: fit-content;
    height: fit-content; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
  /* } */
  /* .avatar {
    width: 200px;
    height: 200px;
  } */
  .about-container {
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-text {
    word-wrap: inherit;
  }
}

/* make transparent linear color gradient */

