body {
background-image: url(../public/assets/bgc-contact/vorderrhein.svg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* overflow: hidden;  */
  background-position: cover;
  background-attachment: fixed;
  background-blend-mode: color-dodge;
  object-fit: cover;
  background-clip: content-box;
  z-index: -6;
}

/* Nav */
.active {
  color: rgba(237, 215, 103, 0.75);
}
a {
  text-decoration: none;
  color: black;
}

.avatar {
  width: 55vh;
  height: 58vh;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}
/* li{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

} */