/* html {
  padding: 0;
  margin: 0;
} */
body {
  background-image: url(../public/assets/bgc-contact/vorderrhein.svg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* overflow: hidden;  */
  background-position: cover;
  background-attachment: fixed;
  background-blend-mode: color-dodge;
  object-fit: cover;
  background-clip: content-box;
  z-index: -6;
}

a {
  text-decoration: none;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* 
@media (max-width: 630px) {
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-text {
    word-wrap: inherit;
  }
} */

